.error {
    text-align: center;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    background-color: blueviolet;
}

.apology {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    color: red;
    background-color: blueviolet;
}

#all {
    background-color: blueviolet;
}